<?xml version='1.0'?>
<model>
  <name>Choo Choo</name>
  <version>1.0</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>Wes</name>
    <email>wkfletcher@knights.ucf.edu</email>
  </author>

  <description>
    Simulation model/robot_description of IGVC 2022 entry, Choo Choo.
  </description>
</model>