<?xml version='1.0'?>
<model>
  <name>otto</name>
  <version>1.0</version>
  <sdf version="1.5">model.urdf</sdf>

  <author>
    <name>RCCF</name>
    <email>robotics@ucf.edu</email>
  </author>

  <description>
    Simulation model/robot_description of IGVC 2023 entry, Otto.
  </description>
</model>