[submodule "velodyne_simulator"]
	path = ugv_sim/velodyne_simulator
	url = https://bitbucket.org/DataspeedInc/velodyne_simulator.git
[submodule "drivers/velodyne"]
	path = drivers/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "drivers/vectornav"]
	path = drivers/vectornav
	url = https://github.com/dawonn/vectornav.git
[submodule "drivers/advanced_navigation_driver"]
	path = drivers/advanced_navigation_driver
	url = https://github.com/ros-drivers/advanced_navigation_driver
